package $packageName

#foreach($import in $imports)
import $import
#end

object ServiceRegistry {
    val services: List<PluginService> = listOf(
        #foreach($s in $services)
            $s.fqName#if(!$s.isObject)()#end,
        #end
    )

    fun onEnable() {
        services.forEach { it.onEnable() }
    }

    fun onDisable() {
        services.forEach { it.onDisable() }
    }
}